<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Adoption Form</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Bayon&family=Lato&family=Nunito:wght@300;400;600;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
</head>


<body>
    <div id="nav">
        <h1>ADOPT A DOG</h1>

        <ul>
            <li><a href="status">STATUS</a></li>
            <li><a href="/adoptHome">ADOPT</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/">HOME</a></li>
        </ul>
    </div>
    <hr>
    <h2>Select an Option</h2>
    <div class = "adopthome">
        <img src="adoptdog.jpeg" alt="adoptmedogs">
        <h3><a href="/adopt">ADOPT A DOG</a></h3>
    </div>
    <br>
    <div class = "adopthome">
        <img src="adoptmewhitedog.jpeg" alt="adoptmedogs">
        <h3><a href="/cancel">CANCEL ADOPTION</a></h3>
    </div>
</body>

</html>