<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Adopt</title>
        <link href="https://fonts.googleapis.com/css2?family=Bayon&family=Lato&family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet"/>
        <link rel="stylesheet" href="style.css" type="text/css"/>
    </head>

    <body>
        <div id="nav">
            <h1>Adopt a Dog</h1>
            <ul>
                <li><a href="status">STATUS</a></li>
                <li><a href="/adoptHome">ADOPT</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/">HOME</a></li>
            </ul>
        </div>

        <hr>

        <h2>Select an Option</h2>
        <div class="adopt-home">
            <img src="images/adopt-me-dog.jpeg" alt="dog with 'Adopt me!' sign">
            <h3><a href="/adopt">ADOPT A DOG</a></h3>
        </div>
        <br><br>
        <div class="adopt-home">
            <img src="images/adopt-me-dog2.jpeg" alt="dog with 'Adopt me!' sign">
            <h3><a href="/cancel">CANCEL ADOPTION</a></h3>
        </div>
    </body>
</html>