<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Cancel Adoption</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Bayon&family=Lato&family=Nunito:wght@300;400;600;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
</head>

<script>
    window.onsubmit = confirmation;

    function confirmation() {
        let valuesProvided = "";

        valuesProvided = "Are you sure you want to cancel your adoption?\n"
        valuesProvided += "WARNING: This action cannot be undone."

        if (window.confirm(valuesProvided)) {
            return true;
        } else {
            return false;
        }
    }
</script>

<body>
    <div id="nav">
        <h1>Adopt a Dog</h1>

        <ul>
            <li><a href="status">STATUS</a></li>
            <li><a href="/adopt">ADOPT</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/">HOME</a></li>
        </ul>
    </div>
    <hr>
    <br>

    <h3>Cancel Adoption</h3>
    <form action="/cancelConfirm" method="POST">
        <fieldset>
            <legend>Cancel by Email</legend>
            <label><strong>Email: </strong>&nbsp;&nbsp;<input type="email" name="email" required></label>
        </fieldset>
        <br><br><br>
        <div id="buttons">
            <input class="butt" type="submit" value="Confirm Cancellation" />
            &nbsp;&nbsp;
            <input class="butt" type="reset" value="Clear" />
        </div>
    </form>

</body>

</html>