<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Welcome!</title>
        <link href="https://fonts.googleapis.com/css2?family=Bayon&family=Lato&family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet"/>
        <link rel="stylesheet" href="style.css" type="text/css"/>
    </head>

    <body>
        <div id="nav">
            <h1>Adopt a Dog</h1>
            <ul>
                <li><a href="/status">STATUS</a></li>
                <li><a href="/adoptHome">ADOPT</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/">HOME</a></li>    
            </ul>
        </div>
        <hr>

        <div id="outer">
        
        <br>
            <img src="images/adopt-a-pet.jpg" alt="multiple dogs with adoption signs">
            <div id="desc-outer">
                <h2>We're here to help you find your new best friend!</h2>
                <p class="desc">
                    Adopt A Dog is all about providing our dogs a loving forever home. Our team actively works 
                    to pair our dogs with the best owners and families possible. We hope to help 
                    you start a beautiful friendship.  
                </p>
                
                <h2>The Process</h2>
                <p class="desc">
                    You can start this process by filling out the Adoption Application Form which will 
                    require you to enter personal information and tell us why you are fit to be a dog owner.
                    After an extensive background check and conferring, our team will make a decision. 
                    You can check the status of your application using your email in the Status Form.
                    If you have been approved, you will see a picture of your new dog! The last step is 
                    simply to pick them up from our center and let the fun begin! 
                </p>
            </div>
        </div>

        <div id="footer"> 
        </div>
    </body>
</html>