<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Welcome</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Bayon&family=Lato&family=Nunito:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css"/>
</head>

<body>
    <div id="nav">
        <h1>ADOPT A DOG</h1>
        
        <ul>
            <li><a href="/status">STATUS</a></li>
            <li><a href="/adoptHome">ADOPT</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/">HOME</a></li>    
        </ul>
  
    </div>
    <hr>
    <div id="outer">
    
    <br>
    <img src="adopt-a-pet.jpg" alt="adoptmedogs">
    <h2>WE'RE HERE TO HELP YOU FIND YOUR NEW BEST FRIEND!</h2>
    <p>Adopt A Dog is all about giving dogs a loving home. Our team actively works 
        to pair our dogs with the best owners and families possible. We hope to help 
        you start a beautiful friendship.  
    </p>
    <h2>The Process</h2>
    <p>You can start this process by filling out the adopt form. Here you will
        enter some personal information and tell us why you are fit to be a dog owner.
        After an extensive background check and conferring, our team will make a decision. 
        You can check what our decision is by looking up your email on the status form. 
        If you have been approved you will see a picture of your new dog! Then all you
        have to do is pick them up at our center and let the fun begin! </p>
    <br>
    <br>
    <br>
    
    </div>
    <div id="footer">
        
    </div>
</body>

</html>