<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Your Profile</title>
	<link rel="stylesheet" href="style.css" />
</head>

<body>
	<div id="nav">
		<h1>Your Profile</h1>

		<ul>
			<li><a href="status">STATUS</a></li>
			<li><a href="/adopt">ADOPT</a></li>
			<li><a href="/about">ABOUT</a></li>
			<li><a href="/">HOME</a></li>
		</ul>
	</div>
	<hr>
	<br>

	<p>
		No profile found for email: <%- email %>.
		<br>
		Please try again.
	</p>

</body>

</html>