html {
  font-size: 14px;
}

body {
  background-color: #dedbcd;
}


#nav {
  background-color: #dedbcd;
  padding-right: 1.5rem;
}

#nav h1 {
  font-family: "Bayon", sans-serif;
  font-size: 4.3rem;
  padding-left: 1rem;
  display: inline-block;
  margin: auto;
}

#nav ul {
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  display: inline;
}

#nav li {
  float: right;
}

#nav li a {
  color: #6b7e4e;
  text-align: center;
  padding: 2rem 0.4rem;
  padding-right: 1.5rem;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Bayon", sans-serif;
  margin: auto;
  display: inline-block;
}

#nav li a:hover {
  color: #a68f7f;
}

#outer {
  display: block;
  position: relative;
}

#outer::before {
  content: "";
  background: url(paws.jpg);
  opacity: 0.09;
  top: -1rem;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

hr {
  border-top: 0.2rem solid black;
}

h2 {
  text-align: center;
  font-family: "Bayon", sans-serif;
  /* font-family: 'Nunito', sans-serif; */
  font-size: 3.5rem;
  font-weight: lighter;
}

img {
  display: block;
  margin: auto;
  height: 30rem;
  opacity: 0.9;
}

#adoptform {
  height: 15rem;
  display: block;
  margin: auto;
  padding: 0rem;
}

h3 {
  text-align: center;
  font-family: "Bayon", sans-serif;
  font-size: 3rem;
  padding: 0rem;
  margin: 0rem;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
}

#footer {
  background-color: #6b7e4e;
  height: 8rem;
  margin: 0rem;
  padding: 0rem;
}

fieldset {
  border-radius: 0.75rem;
  border-width: 0.25rem;
  border-style: solid;
  border-color: #a68f7f;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: black;
}

#phnum input[type="text"] {
  width: 2.8em;
}

legend {
  font-size: 1.8rem;
  font-family: "Bayon", sans-serif;
  letter-spacing: 0.3rem;
  color: #a68f7f;
}

input {
  width: 16rem;
  height: 1.5rem;
}

input[type="submit"] {
  display: inline-block;
  color: #a68f7f;
  border: 0.4rem #dedbcd double;
  border-radius: 0.4rem;
  height: 5rem;
  width: 15rem;
  font-size: 1.2rem;
  outline-width: 0rem;
  font-family: "Nunito", sans-serif;
  box-shadow: 0.5rem 0.5rem 0.5rem #a68f7f;
}

input[type="reset"] {
  display: inline-block;
  color: #a68f7f;
  border: 0.4rem #dedbcd double;
  border-radius: 0.4rem;
  height: 5rem;
  width: 15rem;
  outline-width: 0rem;
  font-size: 1.2rem;
  font-family: "Nunito", sans-serif;
  box-shadow: 0.5rem 0.5rem 0.5em #a68f7f;
}

#buttons {
  text-align: center;
}

#endform {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
}


#teamph {
  text-align: center;
}

.aboutimg {
  display: inline-block;
  width: 21, 5rem;
  height: 30rem;

}

.adopthome img{
  height: 15rem;
  display: block;
  margin: auto;
  padding: 0rem;
}

.adopthome a{
  color:#a68f7f;
}

.adopthome a:visited{
  color: #6b7e4e;
}

.adopthome a:hover{
  color: #6b7e4e;
}

#cancelimage {
  height: 20rem;
  width: 30rem;
  display: block;
  margin: auto;
}

